
<!--


APLICATIVO FEITO POR: CARLOS EDUARDO ARTIOLI E LEONARDO FELIPE DA SILVA



-->


<ion-header translucent>
  <ion-toolbar color="redmain">
    <ion-row>
      <ion-col size="1">

      </ion-col>

      <ion-col size="10">
        <ion-avatar>
          <img src="assets/pokebola.png">
        </ion-avatar>
      </ion-col>

      <ion-col size="1">

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar Pokemons" color="redmain"> </ion-searchbar>

  <ion-item-sliding *ngFor="let pokemon of listaPokemons">
    <ion-item lines="none">
      <ion-chip slot="start">
        <ion-label [color]="pokemon.types[0].type.name | lowercase">{{ pokemon.id }}</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2 class="ion-text-capitalize">{{ pokemon.name }}</h2>
          <ion-badge class="ion-text-capitalize" [color]="tipos.type.name | lowercase"
            *ngFor="let tipos of pokemon.types"> {{ tipos.type.name }} </ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="pokemon.sprites.front_default" alt="foto">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


</ion-content>

<ion-footer>
  <ion-toolbar color="redmain" class="ion-text-center">

    <ion-buttons slot="start" *ngIf="previous">
      <ion-button (click)="previousPage()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    Página: {{ pagina }}
    <br>
    Total de Páginas: {{ totalPaginas }}

    <ion-buttons slot="end" *ngIf="next">
      <ion-button (click)="nextPage()">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>