ion-badge{
  margin-right: 1px;
}
ion-item-options{
  border-color:#1C1C1C;
}

ion-thumbnail{
  width:47px;
  border-image-width:5px;
}

ion-avatar {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

img {
  margin: 0 auto;
}